.place__paragraphs {
    width: 100%;
    margin: 48px 0 0;
}


@media screen and (max-width: 320px) {
    .place__paragraphs {
        margin-top: 32px;
        padding: 0 16px;
        box-sizing: border-box;
    }
}