.place__paragraphs {
    max-width: 484px;
    width: 100%;
    min-height: 116px;
}

@media screen and (max-width: 1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraphs {
        max-width: 352px;
    }
}

@media screen and (max-width: 580px) {
    .place__paragraphs {
        max-width: 532px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraphs {
        max-width: 352px;
        margin-top: 32px;
    }
}