.intro {
    max-width: 984px;
    width: calc(100% - (48px * 2));
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 92px auto 0;
    padding: 0 48px;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 48px);
        padding: 0 24px;
    }
    
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        margin-top: 60px;
    }
}