.place__link {
    width: fit-content;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 12px 0 0;
    color: #fff;
    align-self: end;
    transition: opacity .5s linear;
    display: block;
}

.place__link:hover {
    opacity: .8;
}

@media screen and (max-width: 580px) {
    .place__link {
        margin-top: 12px;
    }
}