.cover__overlay {
    background-color: rgba(42, 44, 47, .3);
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: background-color 1s ease-out;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
}