.cover__overlay {
    background-color: rgba(42, 44, 47, .3);
    max-width: 1184px;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    transition: background-color 1s ease-out;
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: calc(100vw * (10 / 16));
    }
}
