@import url(../vendor/normalize.css);

@import url(../fonts/Inter\ Web/inter.css);

@import url(../blocks/body/body.css);

@import url(../blocks/page/page.css);

/* Header*/

@import url(../blocks/header/header.css);

@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/header/__lang/header__lang.css);

/* Lead */

@import url(../blocks/);

@import url(../blocks/lead/lead.css);

@import url(../blocks/lead/__title/lead__title.css);

@import url(../blocks/lead/__subtitle/lead__subtitle.css);

@import url(../blocks/lead/__image/lead__image.css);

@import url(../blocks/lead/__caption/lead__caption.css);

/* Intro */

@import url(../blocks/intro/intro.css);

@import url(../blocks/intro/__item/list__item.css);

@import url(../blocks/intro/__list/list__list.css);

@import url(../blocks/intro/__text/list__text.css);

@import url(../blocks/intro/__title/list__title.css);

/* Photo-grid */

@import url(../blocks/photo-grid/photo-grid.css);

@import url(../blocks/photo-grid/__image/photo-grid__image.css);

@import url(../blocks/photo-grid/__item/photo-grid__item.css);

/* Places */

@import url(../blocks/places/places.css);

@import url(../blocks/places/place/place.css);

@import url(../blocks/places/place/__image/place__image.css);

@import url(../blocks/places/place/__paragraph/place__paragraph.css);

@import url(../blocks/places/place/__paragraphs/place__paragraphs.css);

@import url(../blocks/places/place/__title/place__title.css);

@import url(../blocks/places/place/__website/place__website.css);

@import url(../blocks/places/place/__website/__link/website__link.css);

@import url(../blocks/places/place/__website/__url-heading/website__url-heading.css);

/* Cover */

@import url(../blocks/cover/cover.css);

@import url(../blocks/cover/__background/cover__background.css);

@import url(../blocks/cover/__overlay/cover__overlay.css);

@import url(../blocks/cover/__title/cover__title.css);

@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/cover/__link/cover__link.css);

/* Footer */

@import url(../blocks/footer/footer.css);

@import url(../blocks/footer/__link/footer__link.css);

@import url(../blocks/footer/__copyright/footer__copyright.css);

@media screen and (max-width: 1024px) {
    .lead {
        margin-top: 48px;
        max-width: 928px;
    }
    .lead__image {
        margin-top: 56px;
    }
    .intro {
        max-width: 928px;
    }
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
    .gallery__image {
        max-width: 300px;
        max-height: 225px;
    }
    .places {
        max-width: 928px;
    }
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
    .place__title {
        max-width: 440px;
        max-height: 152px;
    }
    .place__paragraphs {
        max-width: 456px;
    }
    .place__website {
        max-width: 456px;
    }
    .cover {
        max-width: 1024px;
    }
    .cover__title {
        padding-top: 195px;
    }
}
