@import url(../vendor/normalize.css);

@import url(../fonts/Inter\ Web/inter.css);

@import url(../blocks/body/body.css);

@import url(../blocks/page/page.css);

/* Header*/

@import url(../blocks/header/header.css);

@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/header/__lang/header__lang.css);

/* Lead */

@import url(../blocks/);

@import url(../blocks/lead/lead.css);

@import url(../blocks/lead/__title/lead__title.css);

@import url(../blocks/lead/__subtitle/lead__subtitle.css);

@import url(../blocks/lead/__image/lead__image.css);

@import url(../blocks/lead/__caption/lead__caption.css);

/* Intro */

@import url(../blocks/intro/intro.css);

@import url(../blocks/intro/__list/__item/list__item.css);

@import url(../blocks/intro/__list/intro__list.css);

@import url(../blocks/intro/__title/intro__title.css);

@import url(../blocks/intro/__text/intro__text.css);

/* Photo-grid */

@import url(../blocks/photo-grid/photo-grid.css);

@import url(../blocks/photo-grid/__image/photo-grid__image.css);

@import url(../blocks/photo-grid/__item/photo-grid__item.css);

/* Places */

@import url(../blocks/places/places.css);

@import url(../blocks/places/place/place.css);

@import url(../blocks/places/place/__image/place__image.css);

@import url(../blocks/places/place/__paragraph/place__paragraph.css);

@import url(../blocks/places/place/__paragraphs/place__paragraphs.css);

@import url(../blocks/places/place/__title/place__title.css);

@import url(../blocks/places/place/__website/place__website.css);

@import url(../blocks/places/place/__website/__link/website__link.css);

@import url(../blocks/places/place/__website/__url-heading/website__url-heading.css);

/* Cover */

@import url(../blocks/cover/cover.css);

@import url(../blocks/cover/__background/cover__background.css);

@import url(../blocks/cover/__overlay/cover__overlay.css);

@import url(../blocks/cover/__title/cover__title.css);

@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/cover/__link/cover__link.css);

/* Footer */

@import url(../blocks/footer/footer.css);

@import url(../blocks/footer/__link/footer__link.css);

@import url(../blocks/footer/__copyright/footer__copyright.css);

.image__place_kosa {
    background-image: url(../images/place-kosa.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.image__place_kolsky {
    background-image: url(../images/place-kolsky.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.image__place_altai {
    background-image: url(../images/place-altai.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.image__place_winter-baikal {
    background-image: url(../images/place-winter-baikal.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.image__place_karelia {
    background-image: url(../images/place-karelia.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin-top: 48px;
        max-width: 928px;
    }
    .lead__image {
        margin-top: 56px;
    }
    .intro {
        max-width: 928px;
    }
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
    .gallery__image {
        max-width: 300px;
    }
    .places {
        max-width: 928px;
    }
    .place {
        column-gap: 32px;
    }
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
    .place__title {
        max-width: 440px;
        max-height: 152px;
    }
    .place__paragraphs {
        max-width: 456px;
    }
    .place__website {
        max-width: 456px;
    }
    .cover {
        max-width: 1024px;
    }
    .cover__title {
        padding-top: 195px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
        padding: 0 24px;
    }
    .lead {
        width: calc(100% - 48px);
        padding: 0 24px;
    }
    .intro {
        width: calc(100% - 48px);
        padding: 0 24px;
    }
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        width: calc(100% - 48px);
        padding: 0 24px;
    }
    .gallery__image {
        max-width: 352px;
        max-height: 264px;
    }
    .places {
        width: calc(100% - 48px);
        padding: 0 24px;
    }
    .place__image {
        max-width: 340px;
    }
    .place__title {
        max-width: 340px;
        max-height: 92px;
        font-size: 42px;
        line-height: 46px;
    }
    .place__paragraphs {
        max-width: 352px;
    }
    .place__paragraph {
        font-size: 16px;
    }
    .place__website {
        max-width: 352px;
    }
    .cover__title {
        padding-top: 115px;
    }
    .footer {
        margin-top: 88px;
        width: calc(100% - 48px);
        padding: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        margin: 16px 16px 0;
    }
    .header__logo {
        width: 142px;
        height: 42px;
    }
    .header__lang {
        text-decoration: none;
        color: #fff;
        width: 22px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
    }
    .lead {
        max-width: 320px;
    }
    .lead__title {
        max-width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
    .lead__subtitle {
        max-width: 288px;
        min-height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
    .intro {
        max-width: 288px;
    }
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
    .intro__text {
        font-size: 16px;
        line-height: 26px;
    }
    .intro__list {

    }
    .photo-grid {
        grid-template-columns: 1fr;
    }
    .gallery__image {
        max-width: 288px;
        max-height: 216px;
    }
    .places {
        max-width: 720px;
    }
    .place {
        grid-template-columns: 1fr;
    }
    .place__image {
        max-width: 340px;
        max-height: 340px;
    }
    .place__title {
        max-width: 340px;
        max-height: 92px;
        font-size: 42px;
        line-height: 46px;
    }
    .place__paragraphs {
        max-width: 352px;
    }
    .place__paragraph {
        font-size: 16px;
    }
    .place__website {
        max-width: 352px;
    }
    .cover {
        max-width: 768px;
    }
    .cover__title {
        padding-top: 33px;
        max-width: 288px;
        min-height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle {
        margin-top: 16px;
        max-width: 288px;
        min-height: 48px;
        font-size: 14px;
        line-height: 16px;

    }
    .footer {
        margin-top: 64px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .footer__links {
        max-width: 186px;
        min-height: 310px;
        display: flex;
        flex-direction: column;
    }
    .footer__link {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}