.place__paragraph {
    grid-area: place__paragraph;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 48px 0 0;
}

.place__paragraph:last-of-type {
    margin-top: 24px;
}