.place__paragraph {
    max-width: 484px;
    width: 100%;
    min-height: 116px;
    grid-area: place__paragraph;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 48px 0 0;
}