.footer {
    margin: 92px auto 24px;
    width: 100%;
    min-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    box-sizing: border-box;
}