.footer {
    margin: 92px 0 24px;
    max-width: calc(100% - (48px * 2));
    width: 100%;
    min-height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
}


@media screen and (max-width: 768px) {
    .footer {
        margin-top: 88px;
        max-width: calc(100% - 48px);
        padding: 0 24px;
    }
}

@media screen and (max-width: 580px) {
    .footer {
        margin-top: 50px;
    }
}

@media screen and (max-width: 428px) {
    .footer {
        max-width: calc(100% - 32px);
        padding: 0 16px;
        margin-top: 64px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}