.place__website {
    max-width: 484px;
    width: 100%;
    min-height: 46px;
    margin: 0;
    align-self: end;
}

@media screen and (max-width: 1024px) {
    .place__website {
        max-width: 456px;
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 580px) {
    .place__website {
        margin-top: 32px;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        max-width: 352px;
        padding: 0 16px;
        box-sizing: border-box;
    }
}